body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
}
.chessboard{
    height: 640px;
    width: 640px;
    border: 2px black solid;
    display: flex;
    flex-wrap: wrap;
}
.chessboard div{
    height: 80px;
    width: 80px;
}
.a{
    background-color: white;
}

.b{
    background-color: black;
}